@import "tailwindcss";

@theme {
  /* cleared everything with the initial value, but I manually entered everything from the documentation table */
  --breakpoint-*: initial;
  /* can set the breakpoints you want to keep */
  --breakpoint-xsm: 500px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 690px;
  --breakpoint-lg: 988px;
  --breakpoint-xl: 1078px;
  --breakpoint-xxl: 1265px; /* added your custom breakpoint here */
  /* --breakpoint-2xl: 1536px; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ededed;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
